.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: #007791;
  background-color: #fff;
  width: 44px;
  height: 44px;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  position: absolute;
  top: 30%;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  color: #007791;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

.myNavBar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.myNavBar .myNavBar__left {
  padding-left: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.myNavBar .myNavBar__left .navbar-brand {
  flex-grow: 1;
  margin-right: 0;
}

.myNavBar .myNavBar__left .navbar-brand img {
  width: 110px;
}

.myNavBar .myNavBar__left .navbar-brand .logo--black {
  display: inline-block;
}

.myNavBar .myNavBar__left .navbar-brand .logo--white {
  display: none;
}

.myNavBar .myNavBar__left .myNavBar__categories {
  flex-grow: 1;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}

.myNavBar .myNavBar__left .myNavBar__categories i {
  color: #a1a7b3;
}

.myNavBar .myNavBar__left .myNavBar__form-search {
  flex-grow: 8;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #505763;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-left-color: #dedfe0;
  border-bottom-color: #dedfe0;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-right-color: #dedfe0;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  color: #ec5252;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.myNavBar .myNavBar__right .navbar-nav {
  justify-content: space-between;
  align-items: center;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item {
  padding: 7px 5px;
  border-radius: 3px;
  position: relative;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.myNavBar .myNavBar__right .navbar-nav .nav-item:hover .overplay {
  display: block;
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .overplay {
  display: none;
  background-color: #fff;
  width: 330px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

.myNavBar .myNavBar__right .navbar-nav .nav-item .overplay::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  display: block;
  position: absolute;
  top: -8px;
  right: 10%;
  transform: rotate(45deg);
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
  font-size: 20px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
  display: flex;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button--white {
  margin-right: 5px;
}

.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button {
  white-space: nowrap;
}

@media screen and (min-width: 1200px) and (max-width: 1375px) {
  .myNavBar .myNavBar__right {
    padding-left: 0;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item {
    white-space: nowrap;
    text-align: center;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .overplay {
    white-space: normal;
  }
}

@media screen and (max-width: 1200px) {
  .myNavBar .myNavBar__right .business,
  .myNavBar .myNavBar__right .intructor {
    display: none;
  }
  .myNavBar .myNavBar__right .navbar-nav {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .myNavBar .myNavBar__left .myNavBar__categories,
  .myNavBar .myNavBar__left .myNavBar__form-search {
    display: none;
  }
  .myNavBar .myNavBar__right {
    width: 50%;
    margin-left: auto;
    text-align: center;
  }
  .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
    display: none;
  }
}

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__top {
  width: 90%;
  margin: 40px auto;
}

footer .footer__top ul {
  height: 110px;
}

footer .footer__top ul .nav-item {
  flex-basis: 25%;
}

footer .footer__top ul .nav-item .nav-link {
  color: #007791;
  padding: 0;
}

footer .footer__top ul .nav-item .nav-link.bold {
  font-weight: 700;
}

footer .footer__top .btn-group {
  display: block;
}

footer .footer__top .btn-group .button--dropup {
  min-width: 160px;
  box-shadow: none;
}

footer .footer__top .btn-group .button--dropup i {
  padding: 0 5px;
}

footer .footer__top .btn-group .button--dropup::after {
  margin-left: 30%;
}

footer .footer__top .btn-group .dropdown-menu {
  font-size: 13px;
}

footer .footer__bottom {
  width: 90%;
  margin: 30px auto;
}

footer .footer__bottom img {
  width: 110px;
  margin-right: 10px;
}

footer .footer__bottom .nav-link {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px;
}

.intro .intro__content {
  width: 80%;
  margin: 0 auto;
}

.intro .intro__content .intro__items {
  display: flex;
  align-items: center;
}

.intro .intro__content .intro__icon {
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}

.intro .intro__content .intro__details p {
  margin-bottom: 0;
}

.intro .intro__content .intro__details p:first-child {
  color: #fff;
  font-size: 18px -1;
  font-weight: 700;
}

.intro .intro__content .intro__details p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .intro .intro__content .intro__icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: none;
  }
}

.course {
  margin: 25px 0;
}

.course .course__content {
  width: 90%;
  margin: auto;
}

.course .course__content .row {
  margin-right: 0;
  margin-left: 0;
}

.course .course__content .course__left {
  background-color: rgba(20, 23, 28, 0.05);
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.course .course__content .course__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}

.course .course__content #myTab {
  margin-bottom: 25px;
}

.course .course__content #myTab .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.course .course__content #myTab .nav-link:hover {
  border: 1px solid transparent;
  color: #007791;
  font-size: 15px;
  font-weight: normal;
}

.course .course__content #myTab .nav-link.active {
  border: none;
  border-bottom: 5px solid #007791;
}

@media screen and (max-width: 1350px) {
  .course .courses__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
  }
}

.viewing {
  padding: 22px;
}

.viewing .viewing__content {
  width: 90%;
  margin: auto;
}

.viewing .viewing__content h2 {
  font-size: 20px;
}

.banner {
  background: url(../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px;
  text-align: center;
  display: flex;
  align-items: center;
}

.banner h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.banner p {
  color: #fff;
  margin-bottom: 0;
}

.banner button {
  margin: 10px;
}

.categories {
  margin-top: 32px;
}

.categories .categories__content {
  width: 90%;
  margin: auto;
}

.categories .categories__content h2 {
  font-size: 24px;
}

.categories .categories__content .categories__items {
  padding: 15px;
  font-size: 18px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 15px;
}

.categories .categories__content .categories__items:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.student {
  padding: 20px 0;
}

.student .student__content {
  width: 90%;
  margin: auto;
}

.student .student__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.partners {
  background-color: #f7f8fa;
  padding: 20px 0;
}

.partners .partners__content {
  width: 70%;
  margin: 0 auto;
}

.partners .partners__content .partners__text {
  text-align: center;
}

.partners .partners__content .partners__imgs {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .partners .partners__content {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .partners .partners__content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .partners .partners__content {
    width: 70%;
  }
  .partners .partners__content .partners__imgs {
    flex-wrap: wrap;
  }
  .partners .partners__content .partners__imgs .partners__items {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.jobs {
  background-color: #f7f8fa;
}

.jobs .jobs__content .row {
  padding: 10px 0;
}

.jobs .jobs__content .job__items {
  max-width: 450px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.jobs .jobs__content .job__items h2 {
  color: #505763;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .jobs .border-right {
    border-right: none !important;
  }
}

.sidebarMini {
  position: fixed;
  width: 400px;
  top: 25%;
  right: 0;
  background-color: #dedfe0;
  z-index: 500;
  transform: translateX(100%);
  transition: 0.5s;
  border-left: 1px solid #dedfe0;
}

.sidebarMini .sidebarMini__button {
  color: #29303b;
  background-color: #dedfe0;
  border: 1px solid #dedfe0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
}

.sidebarMini .sidebarMini__button:focus {
  outline: none;
}

.sidebarMini .sidebarMini__content {
  width: 150px;
  padding: 20px;
  text-align: center;
}

.sidebarMini .sidebarMini__content h2 {
  font-size: 15px;
}

.sidebarMini .sidebarMini__content .switch {
  width: 50px;
  height: 25px;
  margin: 0 10px;
  position: relative;
}

.sidebarMini .sidebarMini__content .switch input {
  display: none;
}

.sidebarMini .sidebarMini__content .switch input:checked + .slider::before {
  transform: translateX(22px);
}

.sidebarMini .sidebarMini__content .switch .slider {
  background-color: #cccccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
}

.sidebarMini .sidebarMini__content .switch .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: all 0.5s;
}

.sidebarMini.is-opended {
  transform: translateX(60%);
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}

.button--red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
}

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}

.button--dropup:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.cover {
  background-image: url("../img/cover.jpg");
  height: 500px;
  position: relative;
}

.cover .cover__content {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}

.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control::placeholder {
  color: #505763;
}

.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  color: #ec5252;
}

.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.cover .cover__content .cover__form .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

@media screen and (max-width: 576px) {
  .cover .cover__content {
    max-width: 400px;
    left: 10%;
  }
}

.card {
  height: 275px;
  margin-right: 1px;
}

.card .card-body .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card .card-body .card-text {
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
  margin: 3px 0;
}

.card .card-body .card__stars i {
  color: #F4C150;
  font-size: 12px;
  font-weight: 900;
}

.card .card-body .card__stars .card__rate {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}

.card .card-body .card__stars .card__total {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.card .card-body .card__price {
  text-align: right;
}

.card .card-body .card__price span:first-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.card .card-body .card__price span:last-child {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.card--feedback {
  height: 280px;
}

.card--feedback .card-body {
  padding: 2rem;
}

.card--feedback .card-body .card__top {
  display: flex;
  margin-bottom: 15px;
}

.card--feedback .card-body .card__avatar {
  margin-right: 15px;
}

.card--feedback .card-body .card__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.card--feedback .card-body .card__name {
  margin-bottom: 0;
}

.card--feedback .card-body .card-text {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

body.darkMode {
  color: #9da9bb;
  background-color: #061325;
}

.darkMode .sidebarMini {
  background-color: #152e4d;
  color: #fff;
  border-left-color: #152e4d;
}

.darkMode .sidebarMini .sidebarMini__button {
  background-color: #152e4d;
  border-color: #152e4d;
  color: #fff;
}

.darkMode .sidebarMini .sidebarMini__content .switch .slider {
  background-color: #061325;
  box-shadow: 0 0 2px 3px #344050;
}

.darkMode .myNavBar {
  background-color: #0e1c2f;
}

.darkMode .myNavBar .myNavBar__left .navbar-brand .logo--black {
  display: none;
}

.darkMode .myNavBar .myNavBar__left .navbar-brand .logo--white {
  display: inline-block;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__categories {
  color: #9da9bb;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__categories i {
  color: #d8d2ef;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #152e4d;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #d8d2ef;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #505763;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-left-color: #344050;
  border-bottom-color: #344050;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #132238;
  border-right-color: #344050;
  border-top-color: #344050;
  border-bottom-color: #344050;
  color: #ec5252;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .nav-item {
  border: 1px solid transparent;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #d8d2ef;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .nav-item .overplay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .nav-item .overplay::before {
  background-color: #0e1c2f;
  border-top: 1px solid #344050;
  border-left: 1px solid #344050;
}

.darkMode .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
  border-color: transparent;
}

.darkMode .myNavBar .navbar-toggler {
  background-color: #d8d2ef;
}

.darkMode .button--white:hover {
  color: #d8d2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .course .course__content .course__left {
  background-color: #132238;
}

.darkMode .course .course__content .course__left h2 {
  color: #d8d2ef;
}

.darkMode .course .course__content #myTab .nav-link {
  color: #9da9bb;
}

.darkMode .course .course__content #myTab .nav-link.active {
  background-color: transparent;
}

.darkMode .course .course__content #myTab .nav-link:hover {
  color: #d8d2ef;
}

.darkMode .course .course__content #myTab .nav-tabs {
  border-bottom: 1px solid #344050;
}

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .card .card-body .card-title {
  color: #d8d2ef;
}

.darkMode .card .card-body .card-text {
  color: #9da9bb;
}

.darkMode .card .card-body .card__stars .card__rate {
  color: #d8d2ef;
}

.darkMode .card .card-body .card__stars .card__total {
  color: #9da9bb;
}

.darkMode .card .card-body .card__price span:first-child {
  color: #9da9bb;
}

.darkMode .card .card-body .card__price span:last-child {
  color: #d8d2ef;
}

.darkMode .card--feedback {
  background-color: #0e1c2f;
}

.darkMode .card--feedback .card-body .card__name {
  color: #d8d2ef;
}

.darkMode .categories .categories__content h2 {
  color: #d8d2ef;
}

.darkMode .categories .categories__content .categories__items {
  background-color: #132238;
  border-color: #344050;
  box-shadow: 0 3px 1px 0 #152e4d;
}

.darkMode .categories .categories__content .categories__items:hover {
  box-shadow: 0 0 3px 2px #152e4d;
}

.darkMode .student {
  background-color: #132238;
}

.darkMode .student .student__content h2 {
  color: #d8d2ef;
}

.darkMode .partners {
  background-color: #132238;
  z-index: 100;
}

.darkMode .jobs {
  background-color: #132238;
}

.darkMode .jobs .jobs__content .jobs__items {
  color: #d8d2ef;
}

.darkMode .jobs .jobs__content .border-right {
  border-right: 1px solid #344050 !important;
}
/*# sourceMappingURL=main.css.map */