.darkMode {
    .course {
        .course__content {
            .course__left {
                background-color: $color-dark-6;
                h2 {
                    color: $color-dark-5;
                }
            }
            #myTab {
                .nav-link {
                    color: $color-dark-3;
                    &.active {
                        background-color: transparent;
                    }
                    &:hover {
                        color: $color-dark-5;
                    }
                }
                .nav-tabs {
                    border-bottom: 1px solid $color-dark-2;
                }
            }
        }
    }
}