.darkMode {
    .jobs {
        background-color: $color-dark-6;
        .jobs__content {
            .jobs__items {
                color: $color-dark-5;
            }
            .border-right {
                border-right: 1px solid $color-dark-2 !important;
            }
        }
    }
}