.categories {
    margin-top: $mg-3;
    .categories__content {
        width: 90%;
        margin: auto;
        h2 {
            font-size: $fs-5;
        }
        .categories__items {
            padding: $pd-1;
            font-size: $fs-3;
            border: 1px solid $color-black-1;
            margin-bottom: $mg-2 - 5;
            &:hover {
                box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
            }
        }
    }
}