.course {
    margin: $mg-1 0;
    .course__content {
        width: 90%;
        margin: auto;
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .course__left {
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            h2 {
                @include styleText($color-black-0, $fs-3 + 1, $fw-0)
            }
        }
        #myTab {
            margin-bottom: $mg-1;
            .nav-link {
                @include styleText($color-black-0, $fs-0, $fw-0);
                &:hover {
                    border: 1px solid transparent;
                    @include styleText($color-blue-0, $fs-0, $fw-0);
                }
                &.active {
                    border: none;
                    border-bottom: 5px solid $color-blue-0;
                }
            }
        }
    }
    @include responsive("screen-1") {
        .courses__content {
            .card {
                .card-body {
                    .card-title {
                        @include styleText($color-black-0, $fs-1, $fw-1);
                    }
                }
            }
        }
    }
}