.myNavBar {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    .myNavBar__left {
        padding-left: 0;
        display: flex;
        align-items: center;
        text-align: center;
        .navbar-brand {
            flex-grow: 1;
            margin-right: 0;
            img {
                width: 110px;
            }
            .logo--black {
                display: inline-block;
            }
            .logo--white {
                display: none;
            }
        }
        .myNavBar__categories {
            flex-grow: 1;
            @include styleText($color-black-light, $fs-1, $fw-0);
            cursor: pointer;
            i {
                color: $color-gray-3;
            }
        }
        .myNavBar__form-search {
            flex-grow: 8;
            @include styleFormSearch($color-white-cream, $color-white-0, $color-gray-4, $color-black-light);
        }
    }
    .myNavBar__right {
        .navbar-nav {
            justify-content: space-between;
            align-items: center;
            .nav-item {
                padding: $pd-2 + 2 $pd-2;
                border-radius: $border-radius + 1;
                position: relative;
                .nav-link {
                    @include styleText($color-black-light, $fs-1, $fw-0);
                }
                &:hover {
                    background-color: $color-gray-1;
                    .overplay {
                        display: block;
                    }
                }
                .overplay {
                    display: none;
                    background-color: $color-white-0;
                    width: 330px;
                    padding: $pd-3;
                    text-align: center;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    z-index: 1;
                    border-top: 1px solid $color-gray-1;
                    box-shadow: 0 4px 16px $color-gray-5;
                    &::before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: $color-white-0;
                        border-top: 1px solid $color-gray-1;
                        border-left: 1px solid $color-gray-1;
                        display: block;
                        position: absolute;
                        top: -8px;
                        right: 10%;
                        transform: rotate(45deg);
                    }
                }
            }
            .myNavBar__cart {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                line-height: 20px;
                .nav-link {
                    font-size: $fs-3 + 2;
                }
            }
            .myNavBar__buttons {
                display: flex;
                &:hover {
                    background-color: transparent;
                }
                .button--white {
                    margin-right: $mg-0;
                }
                .button {
                    white-space: nowrap;
                }
            }
        }
    }
    @media screen and (min-width:1200px) and (max-width:1375px) {
        .myNavBar__right {
            padding-left: 0;
            .navbar-nav {
                .nav-item {
                    white-space: nowrap;
                    text-align: center;
                    .nav-link {
                        font-size: $fs-1 - 1;
                    }
                    .overplay {
                        white-space: normal;
                    }
                }
            }
        }
    }
    @include responsive("extra-large") {
        .myNavBar__right {
            .business,
            .intructor {
                display: none;
            }
        }
        .myNavBar__right {
            .navbar-nav {
                justify-content: space-around;
            }
        }
    }
    @include responsive("medium") {
        .myNavBar__left {
            .myNavBar__categories,
            .myNavBar__form-search {
                display: none;
            }
        }
        .myNavBar__right {
            width: 50%;
            margin-left: auto;
            text-align: center;
            .navbar-nav {
                .myNavBar__buttons {
                    display: none;
                }
            }
        }
    }
}