.jobs {
    background-color: $color-gray-6;
    .jobs__content {
        .row {
            padding: $pd-0 0;
        }
        .job__items {
            max-width: 450px;
            margin: auto;
            text-align: center;
            padding: $pd-3;
            h2 {
                @include styleText($color-black-light, $fs-3, $fw-1);
            }
        }
    }
    @include responsive("medium") {
        .border-right {
            border-right: none !important;
        }
    }
}